body {
    font-family: 'Georgia', serif;
    background: #f8f6f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 100%;
    max-width: 420px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

audio {
    width: 100%;
    margin-bottom: 20px;
}

.slider {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease;
    border-radius: 10px;
}

.slider img.activa {
    opacity: 1;
}
.dedicatoria {
    font-size: 16px;
    color: #444;
    margin: 20px 0 10px;
    line-height: 1.5;
}

.fecha {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
    font-style: italic;
}

.firma {
    margin-top: 25px;
    font-family: 'Cursive', serif;
    font-size: 18px;
    color: #b45f8a;
}
